.main {
  .container {
    @media screen and (min-width: 320px) {
      padding: 0 10px;
    }
    @media screen and (min-width: 1140px) {
      padding: 0;
    }
  }
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include size(300px, auto);
  gap: 0.25rem;
  margin-bottom: 20px;
}

input {
  font-size: 1rem;
//   background-color: $light-gray;
  background-color: $light-gray;
  border-radius: 5px;
  padding: 15px;
}

// .user-cards {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   gap: 0.6rem;
//   margin-top: 1rem;
// }

.movie__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.6rem;
  margin-top: 1rem;
}

.movie__item {
// .card {
  padding: 16px;
  border: 1px solid;
  display: flex;
  gap: 8px;
  flex-direction: column;
  //   border: 1px solid black;
  //   background-color: #22985e;
    border-radius: 3px;
  //   padding: 0.5rem;
}

.movie__name {
  font-size: 18px;
}

.movie__dead {
    background-color: rgb(188, 178, 178, 0.7);
}

.alive{
    background-color: rgb(58, 216, 139, 0.7);
}

.movie__data {
  font-size: 12px;
}

.movie__img {
  display: block;
  width: 100%;
}

// .card > .header {
//   margin-bottom: 0.25rem;
// }

// .card > .body {
//   font-size: 0.8rem;
//   color: #777;
// }

// .hide {
//   display: none;
// }
